.container{
    max-width: 900px;
    margin: 0 auto;
    background: rgb(255, 255, 255);
    font-size: 20px;
    padding: 25px;
    text-align: justify;
}

.titre{
    text-align: center;
    padding: 5em;
    color: rgb(2, 2, 1);
    
}

.parallax{
    background: url("../../assets/img/olympics.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 450px;
}

#footer{
    background-color: #f9f9f9;
    position: relative;
    padding: 17px;
    height: 70px;
    clear: both;
    text-align: center;
    font-size: 14px;

}

