<!DOCTYPE html>
<html lang="en">
    <body>
        <div class="parallax">
            <div class="titre">
                <h2>Welcome to Olympic Games Data !<br> The website that provides you information about the Olympic Games.</h2>
            </div>
        </div>
        <div class="container">
            <p>
                This website shows the number of <b>medals</b> won by countries and by disciplines.
            </p>
            <p>
                You can click on <b>Map</b> to see the world maap. It shows you the number of <b>medals</b> won by countries. 
                The darker (green) the color is, higher is the number of medals won by the country.
            </p>
            <p>
                <b>List of Countries</b> shows you the list of all the countries and you can click on any of them to see more details.
                Such as the number of apparitions in the <b>O.G</b> or the number of gold, silver and bronze medals or even their most succesful sport.
            </p>
            <p>
                <b>List of Disciplines</b> shows you the list of all the disciplines during the Olympic Games.
            </p>
            <p>
                <b>List of Games</b> displays (should) a list of all Olympic games edition.
            </p> 
        </div>

        <footer id="footer">
            <p>This website is powered by Angular and realised by Marchais Willy and Vavasseur Jaël. | Copyright © 2020 Marchais Vavasseur Inc. All rights reserved.</p>
        </footer>
    </body>     
</html>