<div *ngIf="country">
    <h2>{{ country.nation }} details</h2>

    <div class="drapeau">
        <img src="https://www.countryflags.io/{{code}}/flat/64.png">
    </div>
    <div class="wiki">
        <a href="https://en.wikipedia.org/wiki/{{country.nation}}">Wiki of {{ country.nation }}</a>
    </div>
    
    <ul>
        <li>Number of apparitions in OG : {{ country.apps }}</li>
        <li>Number of medals in OG : {{ country.medal }}</li>
        <li>Number of gold medals in OG : {{ country.gold }}</li>
        <li>Number of silver medals in OG : {{ country.silver }}</li>
        <li>Number of bronze medals in OG : {{ country.bronze }}</li>
        
        <div *ngIf="country.mostsuccessfulsport !='-'">
            <li>Most successful sport : {{ country.mostsuccessfulsport }}</li>
            <li>Number of medals in this sport : {{ country.medals }}</li>
            <li>Number of gold medals in this sport : {{ country.golds }}</li>
            <li>Number of silver medals in this sport : {{ country.silvers }}</li>
            <li>Number of bronze medals in this sport : {{ country.bronzes }}</li>
        </div>
    </ul>
</div>

