<h3>Top Countries</h3>
<div class="grid grid-pad">
  <a *ngFor="let country of maxCountries" class="col-1-10"
      routerLink="/country/{{country.id}}">
    <div class="module hero">
      <h4>{{country.nation}}</h4>
      <p>{{ country.gold }} gold medals</p>
    </div>
  </a>
</div>

<h3>Randomly picked disciplines</h3>
<div class="grid grid-pad">
  <a *ngFor="let discipline of randomDisciplines" class="col-1-10">
    <div class="module hero">
      <h4>{{discipline.discipline}}</h4>
      <p>Federation : {{ discipline.federation }}</p>
    </div>
  </a>
</div>