<div id="title">
    <h3>Welcome to Olympic Games Data !<br> The website that provides you information about the Olympic Games.</h3>
</div>
<img src="1.gif" width=100% height="300">
<body>
    <div id="content">
        This website shows the number of medals won by countries and by disciplines.
        You can click on <b>Map</b> to see the world maap. It shows you the number of medals won by countries.
        <b>List of Countries</b> shows you the list of all the countries and you can click on any of them to see more details.
        <b>List of Disciplines</b> shows you the list of all the disciplines during the Olympic Games.
        <b>List of Games</b>
    </div>
</body>